<div class="container m-2 align-content-center">
    <mat-card class="mb-3 mt-3">
        <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. libelle ou stock" #input>
          </mat-form-field>
    </mat-card>
    
    <mat-card class="mat-elevation-z8">
        <table mat-table [dataSource]="datasource">
      
          <!-- ID Column -->
          <ng-container matColumnDef="idProduit">
            <th mat-header-cell *matHeaderCellDef > IdProduit </th>
            <td mat-cell *matCellDef="let row"> {{row.idProduit}} </td>
          </ng-container>
      
          <!-- Progress Column -->
          <ng-container matColumnDef="libelle">
            <th mat-header-cell *matHeaderCellDef > libelle </th>
            <td mat-cell *matCellDef="let row"> {{row.libelle}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="stock">
            <th mat-header-cell *matHeaderCellDef > Stock </th>
            <td mat-cell *matCellDef="let row"> {{row.stock}} </td>
          </ng-container>
      
          <!-- Fruit Column -->
          <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef > Options </th>
            <td mat-cell *matCellDef="let row"> 
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item
                  [routerLink]="row.idProduit">
                    <span>Plus</span>
                  </button>
                  <button mat-menu-item (click)="onModClick(row)">
                    <span>Modifier</span>
                  </button>
                  <button mat-menu-item (click)="onSupClick(row)">
                    <span>Supprimer</span>
                  </button>
                </mat-menu>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" >

          </tr>
      
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" 
          [length]="this.datasource.totalElements"></mat-paginator>
    </mat-card>
</div>