<mat-card class="m-3 produit-info p-3">
    <div class="row">
        <label>Produit :</label>
    </div> 
    <div class="row">
        <label>Categorie : </label>
    </div>
    <div class="row">
        <label class="col">Cout unitaire : </label>
        <label class="col">Prix de vente :</label>
    </div>
    
    <div class="row">
        <label>Stock : </label>
    </div>
    <div class="row">
        <label class="col">Couts : </label>
        <label class="col"> Apports : </label>
    </div>
</mat-card>
