<div class="container m-2 align-content-center">
    <mat-card class="border m-2">
        <div class="container p-2">
            <form [formGroup]="this.ligneAchatFormGroup" (ngSubmit)="ajouterLigneAchat()">
                <mat-form-field class="m-2" appearance="outline">
                    <mat-label>Produit</mat-label>
                    <input type="text"
                            placeholder="Produit"
                            matInput
                            [formControl]="selectedProduitControl"
                            formControlName="produit"
                            [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.libelle">
                            {{option.libelle}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="m-2" appearance="outline">
                    <mat-label>Quantite</mat-label>
                    <input type="number" matInput formControlName="quantite">
                </mat-form-field>
                <mat-form-field class="m-2" appearance="outline">
                    <mat-label>Cout total</mat-label>
                    <input type="number" matInput formControlName="coutTotal">
                </mat-form-field>
                <mat-form-field class="m-2" appearance="outline">
                    <mat-label>Prix vente</mat-label>
                    <input type="number" matInput formControlName="prixVente">
                </mat-form-field>
                <br>
                <button class="m-2" mat-raised-button>Ajouter</button>
            </form>
        </div>
    </mat-card>
    <mat-card class="border m-2 ligne-vente">
        <div class="container p-2">
            <table mat-table [dataSource]="datasource"  class="mat-table-elevation-z5">
                <ng-container matColumnDef="idProduit">
                    <th mat-header-cell *matHeaderCellDef>idProduit</th>
                    <td mat-cell *matCellDef="let la">{{la.produit.idProduit}}</td>
                    <td mat-footer-cell *matFooterCellDef=""></td>
                </ng-container>
                <ng-container matColumnDef="libelle">
                    <th mat-header-cell *matHeaderCellDef>libelle</th>
                    <td mat-cell *matCellDef="let la">{{la.produit.libelle}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <ng-container matColumnDef="quantite">
                    <th mat-header-cell *matHeaderCellDef>quantite</th>
                    <td mat-cell *matCellDef="let la">{{la.quantite}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef>total</th>
                    <td mat-cell *matCellDef="let la">{{la.total}}</td>
                    <td mat-footer-cell *matFooterCellDef>{{this.totalAchat}}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky:true"></tr>
            </table>
        </div>
    </mat-card>
    <form>
        <mat-card class="border m-2 align-content-center">
            <div class="row justify-content-center p-2">
                <mat-form-field class="m-2 col" appearance="outline">
                    <mat-label>Frais</mat-label>
                    <input type="number" matInput formControlName="frais">
                </mat-form-field>

                <mat-form-field class="m-2 col" appearance="outline">
                    <mat-label>Cout total</mat-label>
                    <input type="number" matInput [disabled]="true" formControlName="coutTotaux" [value]="coutTotaux">
                </mat-form-field>
            </div>
            <div class="row justify-content-center p-2">
                    <button mat-raised-button class = "col" color="primary">Facturer</button>
                    <button mat-raised-button class="col" (click)="resetAll()">Annuler</button>
            </div>
        </mat-card>
    </form>
</div>