<mat-card class="m-3 vente-info p-3">
    <div class="row">
        <label>Vente id : {{vente.idVente}} </label>
    </div> 
    <div class="row">
        <label>Date : {{vente.dateVente | date : 'short'}} </label>
    </div>
    
    <div class="row">
        <label>Total : {{vente.totalVente}} </label>
    </div>
    <div class="row ligne-vente">
        <table mat-table [dataSource]="this.datasource" class="mat-table-elevation-z5">
            <ng-container matColumnDef="idProduit">
                <th mat-header-cell *matHeaderCellDef>idProduit</th>
                <td mat-cell *matCellDef="let lv">{{lv.produit.idProduit}}</td>
                <td mat-footer-cell *matFooterCellDef=""></td>
            </ng-container>
            <ng-container matColumnDef="libelle">
                <th mat-header-cell *matHeaderCellDef>libelle</th>
                <td mat-cell *matCellDef="let lv">{{lv.produit.libelle}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="quantite">
                <th mat-header-cell *matHeaderCellDef>quantite</th>
                <td mat-cell *matCellDef="let lv">{{lv.quantite}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef>total</th>
                <td mat-cell *matCellDef="let lv">{{lv.total}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</mat-card>
